<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Create New Product</title>
</head>
<body>
	<div style="text-align: center;">
		<h1>Create New Product</h1>
		<br />
		<form action="#" th:action="@{/save}" th:object="${product}"
			method="post">

			<table cellpadding="10">
				<tr>
					<td>Product Code:</td>
					<td><input type="text" th:field="*{product_code}" /></td>
				</tr>
				<tr>
					<td>Name:</td>
					<td><input type="text" th:field="*{product_name}" /></td>
				</tr>
				<tr>
					<td>Price:</td>
					<td><input type="text" th:field="*{product_price}" /></td>
				</tr>
				<tr>
					<td>GST%:</td>
					<td><input type="text" th:field="*{product_gst}" /></td>
				</tr>								
				<tr>
					<td colspan="2"><button type="submit">Save</button> </td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>